/* ========== COLORS IN CSS ========== */

/* Named color */
.named {
    color: green;
}

/* HEX color */
.hex {
    color: #ff5733;
}

/* RGB */
.rgb {
    color: rgb(0, 128, 255);
}

/* RGBA */
.rgba {
    color: rgba(255, 0, 0, 0.5);
}

/* HSL */
.hsl {
    color: hsl(120, 100%, 25%);
}

/* HSLA */
.hsla {
    color: hsla(300, 100%, 50%, 0.5);
}

body {
  background-color: lightblue;
}