* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    position: relative;
    padding: 20px 60px;
}

.logo {
    position: absolute;
    left: 60px;
    top: 20px;
    font-size: 22px;
    font-weight: bold;
}

.menu {
    text-align: center;
}


.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #555;
}

.user {
    position: absolute;
    right: 60px;
    top: 15px;
    background-color: #e3f2fd;
    padding: 10px 20px;
    border-radius: 8px;
    color: #1e88e5;
}


.hero {
    padding: 80px 60px;
    overflow: hidden;
}

.left_hero {
    float: left;
    width: 50%;
}

.left_hero h1 {
    font-size: 50px;
    line-height: 1.3;
    color: #333;
}

.left_hero span {
    color: #1e88e5;
}

.left_hero p {
    margin: 20px 0;
    color: #777;
    line-height: 1.6;
}

.book {
    padding: 15px 25px;
    background-color: #1e88e5;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.right_hero {
    float: right;
    width: 50%;
    position: relative;
    left: 63px;
}

.right_hero img {
    position: absolute;
    right: 80px;
    top: 0;
    width: 350px;
}