*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    line-height: 2;
    background-color: azure;
}
.container{
    display: flex;
    flex-direction: column;
}
h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label{
    font-weight: 400;
    line-height: 2.9;
}
